<h1>Success</h1>

<p>We have received your payement of <%= number_to_currency @payment_intent.amount_received / 100.0 %>.</p>
<p>The status of your payment is <%= @payment_intent.status %>.</p>

<%= "#{request.env['rack.url_scheme']}://#{request.env['HTTP_HOST']}" %>

<%= debug @session %>

<%= debug @payment_intent %>