<h1>All Products</h1>

<details>
  <summary>Shopping Cart</summary>
  <% if @cart.empty? %>
    <p>No items in cart.</p>
  <% else %>
    <ul>
      <% @cart.each do |product| %>
        <li><%= product.name %> - <%= link_to 'remove from cart', remove_from_cart_path(product), method: :delete %></li>
      <% end %>
    </ul>
  <% end %>
</details>


<% @products.each do |product| %>
  <h3><%= product.name %></h3>
  <% if product.image.present? %>
    <p><%= image_tag product.image.variant(resize_to_limit: [100, 100]).processed  %></p>
  <% end %>
  <p>Price: <%= number_to_currency product.price_cents / 100.0 %></p>
  <p><%= product.description %></p>
  <% if @cart.include?(product) %>
    <p><%= button_to 'remove from cart', remove_from_cart_path(product), method: :delete %></p>
  <% else %>
    <p><%= link_to 'add to cart', add_to_cart_path(product.id), method: :post %></p>
  <% end %>
<% end %>