<!DOCTYPE html>
<html>
  <head>
    <title>StripeItUp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>You have visited this page <%= pluralize @visit_count, 'time' %>.</p>
    <%= yield %>
  </body>
</html>
